<div *ngIf="!showEditUserForm" class="container">
  <div class="text-right pt-3">
    <button class="btn btn-danger" (click)="logout()">Logout</button>

  </div>
  <h2 class='text-center pt-2'>POSTS</h2>

  <div class="create-block">
    <div>
      <h3>Create Post:</h3>
    </div>
    <form [formGroup]="userForm" (submit)="createUser($event, userForm)">

      <div class="form-group">
        <label for="username">title:</label>
        <input type="text" placeholder="Enter title" id="title" formControlName="title"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }" class="form-control">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">body</label>
        <input type="text" placeholder="Enter body" id="body" formControlName="body"
          [ngClass]="{ 'is-invalid': submitted && f.body.errors }" class="form-control">
        <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
          <div *ngIf="f.body.errors.required">body is required</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">
        <i class="fas fa-plus"></i> Create Post
      </button>
    </form>

    <div class="status" *ngIf="userCreated">
      Post Created Sucessfully.
    </div>
  </div>
</div>

<div *ngIf="userData">
  <h3 class="text-center">Post Data</h3>
  <div class="container" *ngFor="let data of userData">
    <div *ngIf="!showEditUserForm" class="user-data card">
      <div>
        <div>
          <h4> Title: {{data.title}}</h4>
        </div>
        <div>
          <h4> Body: {{data.body}}</h4>
        </div>

      </div>
      <div>
        <button style="margin: 4px;" class="btn btn-primary" (click)="editUser($event, data)">
          <i class="fas fa-edit"></i> Edit Post
        </button>
        <button style="margin: 4px;" class="btn btn-danger" (click)="deleteUser($event, data)">
          <i class="fas fa-trash"></i> Delete Post
        </button>
      </div>

      <div>
        <div class="status" *ngIf="userDeleted && data.id === userDeletedId">
          Post Deleted Sucessfully.
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="showEditUserForm">
    <div class="create-block">
      <div>
        <h3>Edit Post:</h3>
      </div>
      <form [formGroup]="editUserForm" (submit)="editUserData($event, editUserForm)">
        <div class="form-group ">
          <label for="username">title:</label>
          <input type="text" placeholder="Enter title" id="title" formControlName="title"
            [ngClass]="{ 'is-invalid': editsubmitted && ef.title.errors }" class="form-control">
          <div *ngIf="editsubmitted && ef.title.errors" class="invalid-feedback">
            <div *ngIf="ef.title.errors.required">title is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">body</label>
          <input type="text" placeholder="Enter body" id="body" formControlName="body"
            [ngClass]="{ 'is-invalid': editsubmitted && ef.body.errors }" class="form-control">
          <div *ngIf="editsubmitted && ef.body.errors " class="invalid-feedback">
            <div *ngIf=" ef.body.errors.required">body is required</div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Edit User</button>
      </form>

      <div class="status" *ngIf="userEdited">
        Post Edited Sucessfully.
      </div>
    </div>
  </div>
</div>
